language: node_js
node_js:
  - "7"
  - "6"
  - "5"
  - "4"
  - "0.12"
  - "0.10"
  - "0.8"
  - "iojs"
env:
  - MB_ACCESSKEY="test_iQpAp0KCs5GCsMpDhIx2leuNB"
matrix:
  allow_failures:
    - node_js: iojs
